/*
    Name: Carter Payne
    File: style-4.css
    Date Created: 2025-09-20
    Date Updated: 2025-12-07
    Description: CSS Style File for MIS 3371 
*/
body {
    background-color: rgb(115, 171, 245);
    color: rgb(80, 0, 0);
    font-family: "Times New Roman", Times, serif;
}
.patientregistrations {
    font-size: 300%;
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.divider {
    height: 4px;
    background-color: blue;
}
.halfdivider {
    height: 4px;
    background-color: blue;
    width:50%;
}
.finaldivider {
    height: 4px;
    background-color: blue;
    padding-bottom: 50px;
}
.buttonstyle{
    background-color: #047f0e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.bodytitle {
    position: sticky;
    top: 0;
    left: 0;
    right:0;
    text-align: Left;
    font-size:150%;
    color: midnightblue;
    background: lightsteelblue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15%;
}
.body {
    text-align: center;
    font-size:120%;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 100%;
    font-weight: bold;
    line-height: 1.8;
    color: lightsteelblue;
    background: midnightblue;
}
#footeraddr {
    margin:0;
}
table.foot_table, td.foot_table{
    padding: 2px 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
table.output, tr.output, td.output{
    border-style: solid;
    border-color: blue;
    background-color: lightblue;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
}
td.outputdata {
    background-color: mintcream;
    padding: 17px;
    text-align: center;
}
#painlevel {
    accent-color: orangered;
    width: 25%;
    
}
#displaypain {
    color: orangered;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
#thankyou {
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.validations {
    color: black;
    font-weight: bold;
}
.currentdate{
    font-weight: bold;
    font-size: 25px;
    color: black;
}